    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
    @font-face {
        font-family: 'DISTGRG';
        src: url(../font/DISTGRG.ttf); 
     }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-padding-top: 2rem;
        text-decoration: none;
        scroll-behavior: smooth;
        list-style: none;
        font-family: "Poppins", sans-serif;
    }

    :root {
        --main-color: #1d412f;
        --second-color: black;
        --third-color: #efefef;
        --title-color: #393939;
        --first-color-alt: #048654;

    }

    .credit {
        color: #667c71;
        margin-left: 24px;
        font-size: 12px;
    }

    section {
        padding: 50px 10%;
    }

    .logoi {
        color: var(--second-color);
        font-size: 1.3rem;
        font-weight: bolder;
    }

    *::selection {
        color: #fff;
        background: var(--main-color);
    }


    button {
        cursor: pointer;
        border: none;
        outline: none;
      }


    header {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background: #fff; */
        background-image: linear-gradient(to right, rgb(241, 243, 245), white);
        box-shadow: 0 4px 41px rgb(14, 55, 54 / 15%);
        padding: 10px 10%;
        transition: 0.2s;
        height: 50px;
    }

    .logoi {
        display: flex;
        align-items: center;
        font-family:  DISTGRG;
    }

    .logoi img {
        width: 140px;
    }

    .navbar {
        display: flex;
    }

    .navbar a {
        font-size: 14px;
        padding: 11px 20px;
        color: #666666;
        font-weight: 500;
        line-height: 1.5;
    }

    .navbar a:hover {
        color: #0f01a9;
    }

    #menu-icon {
        font-size: 24px;
        cursor: pointer;
        z-index: 1001;
        display: none;
    }

    .home {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background: #FFF;
        gap: 1rem;
    }

    .home-text {
        flex: 1 1 17rem;
    }

    .home-img {
        flex: 1 1 17rem;
    }

    .home-img img {
        animation: animate 3s linear infinite;

        border-radius: 200px;
        height: 350px;
        width: 350px;
        filter: grayscale(1);
        object-fit: cover;
    }

    @keyframes animate {
        0% {
            transform: translate(-11px, 0);
        }

        50% {
            transform: translate(-0px, 11px);
        }

        100% {
            transform: translate(-11px, 0);
        }

    }

    .home-text span {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        color: var(--second-color);
    }

    .home-text h1 {
        font-size: 3.2rem;
        color: var(--main-color);
        font-weight: bolder;
        font-family:  DISTGRG;
    }

    .home-text h2 {
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--second-color);
        text-transform: uppercase;
        margin: 0.5rem 0 1.4rem;
    }



    .btn {
        padding: 7px 16px;
        border: 2px solid var(--second-color);
        border-radius: 40px;
        font-weight: 500;
        color: var(--second-color);
    }

    .btn:hover {
        color: #fff;
        background: var(--second-color);
    }

    .heading {
        text-align: center;
        text-transform: uppercase;
    }

    .heading span {
        font-size: 1rem;
        color: var(--second-color);
        font-weight: 600;
    }

    .heading h1 {
        font-size: 2rem;
        color: var(--main-color);
    }

    .shop-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 5rem;
    }

    .shop-container .box {
        flex: 1 1 10rem;
        background: var(--main-color);
        padding: 20px;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        border-radius: 0.5rem;
    }

    .shop-container .box .box-img {
        width: 150px;
        height: 150px;
        margin-top: -100px;

    }

    .shop-container .box .box-img img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
    }

    .stars {
        margin: 1rem 0 0.1rem;
    }

    .shop-container .box .stars .bx {
        color: var(--third-color);
        ;
    }

    .shop-container .box h2 {
        color: var(--third-color);
        ;
        font-size: 1.2rem;
    }

    .shop-container .box span {
        color: var(--third-color);
        ;
        font-size: 1.4rem;
        font-weight: 500;
        margin: 0.2rem 0 0.5rem;
    }

    .box .btn {
        border: 2px solid var(--third-color);
        ;
        color: var(--third-color);
        ;
    }

    .box .btn:hover {
        background: var(--third-color);
        ;
        color: var(--second-color);
    }

    /*========== APP ==========*/
    .app__data {
        text-align: center;
    }

    .app__description {
        margin-bottom: 2.5rem;
    }

    .app__stores {
        margin-bottom: 2rem;
    }

    .app__store {
        width: 120px;
        margin: 0 .5rem;
    }

    .app__img {
        width: 230px;
        justify-self: center;
    }

    .bd-container {
        max-width: 960px;
        width: calc(100% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .bd-grid {
        display: grid;
        gap: 1.5rem;
    }

    /*========== CLASS CSS ==========*/
    .section2 {
        padding: 4rem 0 2rem;
    }

    .section2-title,
    .section2-subtitle {
        text-align: center;
    }

    .section2-title {
        font-size: 1.5rem;
        color: var(--title-color);
        margin-bottom: 1.5rem;
    }

    .section2-subtitle {
        display: block;
        color: var(--second-color);
        font-weight: 500;
        margin-bottom: .5rem;
    }

    /*=============== BUTTONS ===============*/
    .button {
        display: inline-block;
        background-color: var(--button-color);
        color: #FFF;
        padding: 1.25rem 2rem;
        font-weight: 500;
        transition: .3s;
    }

    .button:hover {
        background-color: var(--button-color-alt);
    }

    .button--gray {
        background-color: hsl(0, 0%, 75%);
        color: var(--title-color);
    }

    .button--gray:hover {
        background-color: hsl(0, 0%, 63%);
    }

    .button--small {
        padding: 1rem 1.5rem;
    }


    /*=============== FEATURED ===============*/
    .featured__container {
        row-gap: 2.5rem;
    }

    .featured__card {
        position: relative;
        text-align: center;
        background-color: var(--container-color);
        padding-top: 2rem;
        border: 1px solid var(--border-color);
        overflow-y: hidden;
        transition: .3s;
    }

    .featured__tag {
        background-color: var(--first-color);
        padding: .5rem 1rem;
        color: #fff;
        text-transform: uppercase;
        font-size: .813rem;
        font-weight: 500;
        position: absolute;
        transform: rotate(-90deg);
        left: -1rem;
        top: 3rem;
    }

    .featured__img {
        height: 214px;
        margin-bottom: 1rem;
    }

    .featured__title,
    .featured__price {
        font-size: 1rem;
        font-weight: 700;
    }

    .featured__title {
        text-transform: uppercase;
        margin-bottom: .75rem;
    }

    .featured__price {
        display: block;
        color: var(--first-color);
        transition: .3s;
    }

    .featured__button {
        font-size: .813rem;
        transform: translateY(1rem);
        opacity: 0; 
    }

    .featured__card:hover {
        box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
        padding: 2rem 0 3rem 0;
    }

    .featured__card:hover .featured__button {
        transform: translateY(0);
        opacity: 1;
    }

    .featured__card:hover .featured__price {
        margin-bottom: 1.5rem;
    }

    

    .button2 {
        display: inline-block;
        background-color:var(--main-color);
        color: #FFF;
        padding: 1.25rem 2rem;
        font-weight: 600;
        transition: .3s;
      }

      .button2:hover {
        background-color: var(--main-color);
      }
      
      .button--gray {
        background-color: hsl(0, 0%, 75%);
        color: var(--title-color);
      }
      
      .button--gray:hover {
        background-color: hsl(0, 0%, 63%);
      }
      
      .button--small {
        padding: 1rem 1.5rem;
      }
    .grid {
        display: grid;
    }

    .container {
        max-width: 1024px;
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .section3 {
        padding: 6.5rem 0 1rem;
    }

    .section3__title {
        position: relative;
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-3);
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }

    .section3__title::before {
        content: '';
        position: absolute;
        top: -1rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 67px;
        height: 1px;
        background-color: var(--first-color);
    }


    .footer-basic {
        padding: 40px 0;
        background-color: #ffffff;
        color: #4b4c4d;
    }

    .footer-basic ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }

    .footer-basic li {
        padding: 0 10px;
    }

    .footer-basic ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }

    .footer-basic ul a:hover {
        opacity: 1;
    }

    .footer-basic .social {
        text-align: center;
        padding-bottom: 25px;
    }

    .footer-basic .social>a {
        font-size: 30px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        /* border: 1px solid #ccc; */
        margin: 0 8px;
        color: inherit;
        opacity: 0.75;
    }

    .footer-basic .social>a:hover {
        opacity: 0.9;
    }

    .footer-basic .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
        margin-bottom: 0;
    }

    .list-inline-item {
        display: inline-block;
    }

    /*========== CONTACT ==========*/
.contact__container{
    text-align: center;
  }
  
  .contact__description{
    margin-bottom: 1.5rem;
  }
  

    /* Credit to https://epicbootstrap.com/snippets/footer-basic */


    /*========== MEDIA QUERIES ==========*/
    @media screen and (min-width: 576px) {

        .home__container,
        .about__container,
        .app__container {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }

        .about__data,
        .about__initial,
        .app__data,
        .app__initial,
        .contact__container,
        .contact__initial {
            text-align: initial;
        }

        .about__img,
        .app__img {
            width: 380px;
            order: -1;
        }

        .contact__container {
            grid-template-columns: 1.75fr 1fr;
            align-items: center;
        }

        .contact__button {
            justify-self: center;
        }

        .featured__container {
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: flex-start;
            gap: 1.5rem;
        }

        /* ddd */

        h1,
        h2,
        h3,
        p,
        ul {
            margin: 0;
        }


        @media screen and (min-width: 960px) {
            .bd-container {
                margin-left: auto;
                margin-right: auto;
            }

            .home__img {
                width: 500px;
            }

            .about__container,
            .app__container {
                column-gap: 7rem;
            }

            .featured__container {
                grid-template-columns: repeat(3, 312px);
                padding-top: 2rem;
            }

        }

        @media screen and (max-width: 320px) {
            .container {
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }

        @media screen and (min-width: 1024px) {
            .container {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }


    