<header>

    <a href="/" class="logoi">
        <!-- Ultras -->
        <img src="images/cover.png">
        <!-- <object data="cover.svg" type="image/cover.svg"></object> -->
    </a>
    <div class="bx bx-menu" id="menu-icon"></div>

    <!-- <nav> -->
    <ul class="navbar">
        <li><a href="#home">Home</a></li>
        <li><a href="#featured">Product</a></li>
        <li><a href="#latest">Latest</a></li>
        <li><a href="#contact">contact </a></li>
    </ul>

    <!-- </nav> -->
</header>