<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="Ultras, botola , Kora, Raja, Wac,Far," name="keywords">
    <meta content="Ultras.ma is a website specialize in selling tshirt and accessory related to ultras world "
        name="description">

    <title>Ultras.ma</title>

    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>