<!DOCTYPE html>
<html>

<head>
    <title>Your Title Here</title>

</head>

<body>
    <header>
        <div class="logo-container">
            <a href="#"><img src="your-logo.png" alt="Your Logo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to Sherafit</h1>
            <p>We help you achieve your fitness goals with our personalized training programs.</p>
            <a href="#" class="btn">Get Started</a>
        </div>
    </section>

    <section class="about">
        <div class="about-content">
            <h2>About Us</h2>
            <p>We are a team of experienced fitness trainers who are dedicated to helping you achieve your fitness
                goals.</p>
            <p>Our personalized training programs are designed to meet your individual needs, whether you're a beginner
                or an experienced athlete.</p>
            <a href="#" class="btn">Learn More</a>
        </div>
    </section>


</body>

</html>